.hide {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.img-modal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: -1;

    & img {
        display: inline-block;
        flex-grow: 0;
        width: 100%;
    }

    @include laptop {
        z-index: 0;
    }



    & i {
        position: absolute;
        left: 50%;
        transform: scale(0) translateX(-50%);
        transition: transform .3s;

    }

    &:hover img {
        transition: filter .3s;
        filter: brightness(.5)
    }

    &:hover i {
        font-size: 2em;
        transform: scale(1);
    }
}