//Array con los elementos del menú
-const pages = ['home', 'contest', 'blog', 'about','contact']
//Variable para saber en qué página estamos
-let pageActive
//Variable para saber el nombre del usuario
-let username