//mixin (función) para la creación de la tarjeta del usuario
mixin user-card(image,status,name,job,email,description,socials, edit)
    //Contenedor de la tarjeta
    .user-card
        //Contenedor de la imagen de la tarjeta
        .user-card__img
            img(src= image)
            //Control de estado en el chat para cambiar el color del indicador de estado
            if status== "online"
                span.user-card__status.user-card__status--online
            else if status == "bussy"
                span.user-card__status.user-card__status--bussy
            else if status == "offline"
                span.user-card__status.user-card__status--offline
        //Nombre
        h3.user-card__name= name
        //Trabajo
        p.user-card__subtitle= job
        //Email
        p.user-card__subtitle= email
        //Descripción
        .user-card__description
            p= description
        //Redes sociales
        .user-card__social
            each social in socials
                i(class=`fab fa-${social}`)


