//Contenedor del chat, data-user guardará el nombre del usuario
#chat-container.chat.chat-container(data-user= username)
    //Contenedor de los mensajes
    #messages.messages
    //Contenedor del input para escribir mensajes
    .new-message
        //Formulario de envío de mensajes
        form(action="#")#new-message-form.new-message__form
            //Input para los mensajes
            input(type="text" name="new-message" placeholder="new message" autocomplete="off")
            //Boton de envío de mensajes
            input(type="submit" value="send").button
    //Contenedor del icono de chat
    #chat-icon.chat-icon
        //Icono de chat
        i.far.fa-comments