.edit-profile
    form(action=`/web/editProfile/${username}` method="POST")#edit-profile-form.form
        .form__inputs
            .form__field.form__field--text
                label(for="username") username
                input(type="text" name="username" id="username" value= data.username).edit-profile__input
            .form__field.form__field--text
                label(for="email") email
                input(type="email" name="email" id="email" value= data.email).edit-profile__input
            .form__field.form__field--text
                label(for="job") job
                input(type="text" name="job" id="job" value= data.job).edit-profile__input
        .form__field.form__field--textarea
            label(for="description") Description
            textarea(name="description")#description= data.description
        .form__field.form__buttons
            input(type="submit", value="Update").button
            