//Filtro de imágenes
#filter.filter
    //Añadimos el filtro de "all" porque va a estar siempre
    span(data-filter-tag="all").filter__item all
    //Por cada tag que llegue de la base de datos añadimos el data-filter-tag y el nombre del tag
    each tag in allTags
        span(data-filter-tag= tag.tagName).filter__item= tag.tagName