//Elemento de navegación
nav#main-nav.main-nav
  //Lista del menú
  ul#main-menu.main-menu
    //Por cada página en el array de páginas
    each page in pages
        //Si la página es la activa añadimos el modificador --active
        if page == pageActive
            li.main-menu__item.main-menu__item--active
                //Si no existe usuario la ruta no contiene el nombre de usuario
                if username == null
                    a(href=`/web/${page}`).main-menu__link= page
                else
                    //Si existe usuario la ruta contiene el nombre de usuario
                    a(href=`/web/${user}/${page}`).main-menu__link= page
        else
            //Si la página no es la activa
            li.main-menu__item
                if username == null
                    //Si no existe usuario la ruta no contiene el nombre de usuario
                    a(href=`/web/${page}`).main-menu__link= page
                else
                    //Si existe usuario la ruta contiene el nombre de usuario
                    a(href=`/web/${user}/${page}`).main-menu__link= page
    if username != null
        //Si existe usuario añadimos un elemento de menú para cerrar la sesión
        li.main-menu__item.main-menu__item--secondary
            a(href=`/web/${user}/profile/${user}`).main-menu__link Profile
        //Si existe usuario añadimos un elemento de menú para cerrar la sesión
        li.main-menu__item.main-menu__item--danger
            a(href=`/web/closeSession`).main-menu__link Logout

          
        