//Contenedor modal de toda la ventana
.lightbox#login-modal
    //Contenedor del formulario de login
    .modal
        //Formulario de login
        form#login-form.form.form--modal.login-form(action="/web/login" method="POST")
            .form__type
                .form__field.form__field--text
                    label(for="login-username") Nombre de usuario
                    input#login-username(type="text" name="username")
                .form__field.form__field--text
                    label(for="login-password") Contraseña
                    input#login-password(type="password" name="password")
                .form__field.form__buttons
                    input.button(type="submit", value="Send")
