//Contenedor modal de toda la ventana
.lightbox#register-modal
    //Contenedor del formulario de registro
    .modal
        //Formulario de registro
        form#register-form.form.form--modal.register-form(action="/web/register" method="POST")
            .form__type
                .form__field.form__field--text
                    label(for="register-username") Nombre de usuario
                    input#register-username(type="text" name="username")
                .form__field.form__field--text
                .form__field.form__field--text
                    label(for="register-email") Email
                    input#register-email(type="email" name="email")
                .form__field.form__field--text
                    label(for="register-password") Contraseña
                    input#register-password(type="password" name="password")
                .form__field.form__field--text
                    label(for="register-password-2") Repite la contraseña
                    input#register-password-2(type="password" name="password-2")
                .form__field.form__buttons
                    input.button(type="submit", value="Send")
