//Ventana modal de la información de la imagen
.lightbox#img-modal
    //Añadimos el modificador --modal a la ventana
    .modal.modal--img
        .img-info
            //Título de la imagen
            h2#img-info-title.img-info__title Titulo
            //Etiqueta de imagen
            img#img-info-img.img-info__img
            //Contenedor para la información del usuario
            .img-info__user-data
                //Si no hay usuario registrado el enlace para ver el perfil del usuario no lleva su nombre
                if username == null
                    a(href= `/web/profile/`)#img-user.img-info__user
                else
                    //Si el usuario está registrado añadimos su nombre al enlace para ver el perfil de usuario
                    a(href= `/web/${username}/profile/`)#img-user.img-info__user
                //Fecha de la imagen
                span#img-data.img-info__date
            //Descripción de la imagen
            p#img-info-description.img-info__description
            //Contenedor para las etiquetas
            #img-info-tags.img-info__tags
                //aquí se añaden los tags desde JS