//Filtro de imágenes
#filter.filter.filter--profile
    //Añadimos el filtro de "all" porque va a estar siempre
    span(data-filter-tag="all").filter__item all
    //Por cada tag que llegue de la base de datos añadimos el data-filter-tag y el nombre del tag
    each gallery in galleries
        span(data-filter-tag= gallery.title).filter__item= gallery.title
#gallery