//Contenedor de las redes sociales (añadir links)
#social-links.social-links
    a(href="https://www.facebook.com/" target="_blank").social-links__item
        i.fab.fa-facebook-f
    a(href="https://www.instagram.com/?hl=es" target="_blank").social-links__item
        i.fab.fa-instagram
    a(href="https://www.pinterest.es/" target="_blank").social-links__item
        i.fab.fa-pinterest  
    a(href="https://www.tumblr.com/" target="_blank").social-links__item
        i.fab.fa-tumblr