form(action=`/web/upload/${user}` method="POST" enctype="multipart/form-data").upload-form
    .upload-box#upload-file-form
        #file-box.form__field.form__field--file
            label(for="file")#file-label upload
            img(src="", alt="")#file-img
            input(type="file" name="file-input" id="file-input")
            input(type="submit", value="Upload")
        #upload-buttons.upload-buttons
            button#save-upload.button.button--primary Save
            button#cancel-upload.button.button--danger Cancel
    #upload-info.upload-info
        .form__field.form__field--text
            label(for="title") Title
            input(type="text" name="title" id="title")
        .form__field.form__field--textarea
            label(for="description") Description
            textarea(name="description")
        .form__field.form__field--text
            label(for="tag") Tag
            input(type="text" name="tag" id="tag")