nav#main-nav.main-nav
  ul#main-menu.main-menu
    each page in pages
      if page == pageActive
          li.main-menu__item.main-menu__item--active
            a(href=`/admin/${page}`).main-menu__link= page
      else
        li.main-menu__item
          a(href=`/admin/${page}`).main-menu__link= page
          
        