.about{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;
    align-items: center;

    &__img{
        max-width: 40%;
    }

    &__text{
        width: 50%;
        padding: 1rem;
        text-align: left;
    }
}