.forum {
    margin: 3rem 0;
    width: 90%;
}

.post {
    font-size: .9rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $text-color;
    border-radius: 15px;
    padding: .8rem;
    align-items: flex-start;

    &__title {
        margin: 0;
    }

    &__img {
        max-width: 100%;
    }

    &__date {}

    &__footer {
        font-size: .8rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
            margin: 0;
        }
    }
}