.contest {
    font-size: .9rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $text-color;
    border-radius: 15px;
    padding: .8rem;
    align-items: flex-start;
    height: 40vh;


    &__title {
        width: 100%;
    }

    &__img {
        max-width: 30%;
    }

    &__right {
        padding: 0 2rem;
        width: 60%;
        height: 80%;
        position: relative;
    }

    &__description {
        font-size: 1.2rem;
        margin: 0;
        width: 100%;
    }

    &__time {
        position: absolute;
        bottom: 0;
        font-size: 1.5rem;
        margin: 1rem 0;
        width: 100%;
        margin-top: auto;
    }
}