//para utilizar los breakpoints solo tenemos que poner @include dispositivo y escribir los estilos

// Small tablets and large smartphones (landscape view)
$mobile: 360px;
// Small tablets (portrait view)
$tablet: 361px;
// Tablets and small desktops
$laptop:1025px;
// Large tablets and desktops
$desktop: 1400px;

// Small devices
@mixin mobile {
    @media screen and (max-width: #{$mobile}) {
        @content;
    }
}

// Medium devices
@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

// Large devices
@mixin laptop {
    @media (min-width: #{$laptop}) {
        @content;
    }
}

// Extra large devices
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}