@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://fonts.googleapis.com/css?family=Cabin:400,600");
:root { --primary-color: #3f95ea; --secondary-color: #52d3aa; --danger-color: #FF3C32; --cta-color: #fba905; --background-color: #343434; --text-color: #eee; --dark-text: #555; }

.primary { background: var(--primary-color); }

.secondary { background-color: var(--secondary-color); }

.danger { background-color: var(--danger-color); }

.cta { background-color: var(--cta-color); }

.background { background-color: var(--background-color); }

.text { background-color: var(--text-color); }

h1, h2, h3 { font-family: "Montserrat", sans-serif; font-weight: 600; }

h1.regular-title, h2.regular-title, h3.regular-title { font-weight: 400; }

.text-regular { font-weight: 400; }

.text-bold { font-weight: 600; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** 1. Correct the line height in all browsers. 2. Prevent adjustments of font size after orientation changes in iOS. */
*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

html { line-height: 1.15; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ }

img { max-width: 100%; }

/* Sections ========================================================================== */
/** Remove the margin in all browsers. */
body { margin: 0; }

/** Render the `main` element consistently in IE. */
main { display: block; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { -webkit-box-sizing: content-box; box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/* Text-level semantics ========================================================================== */
/** Remove the gray background on active links in IE 10. */
a { background-color: transparent; }

/** 1. Remove the bottom border in Chrome 57- 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ -webkit-text-decoration: underline dotted; text-decoration: underline dotted; /* 2 */ }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10. */
img { border-style: none; }

/* Forms ========================================================================== */
/** 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input { /* 1 */ overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

/** Correct the padding in Firefox. */
fieldset { padding: 0.35em 0.75em 0.625em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { -webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { vertical-align: baseline; }

/** Remove the default vertical scrollbar in IE 10+. */
textarea { overflow: auto; }

/** 1. Add the correct box sizing in IE 10. 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

/** Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/* Interactive ========================================================================== */
/* Add the correct display in Edge, IE 10+, and Firefox. */
details { display: block; }

/* Add the correct display in all browsers. */
summary { display: list-item; }

/* Misc ========================================================================== */
/** Add the correct display in IE 10+. */
template { display: none; }

/** Add the correct display in IE 10. */
[hidden] { display: none; }

body { font-family: "Cabin", sans-serif; background-color: #222; color: var(--text-color); min-height: 90vh; font-size: 1.1em; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

@media (min-width: 1025px) { body { overflow: hidden; display: grid; grid-template-columns: 15% 85%; grid-template-rows: 60px 1fr; } }

h1, h2, h3 { font-family: "Montserrat", sans-serif; }

a { text-decoration: none; }

img { max-width: 100%; }

.hide { display: none; }

.no-scroll { overflow: hidden; }

.img-modal { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; z-index: -1; }

.img-modal img { display: inline-block; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; width: 100%; }

@media (min-width: 1025px) { .img-modal { z-index: 0; } }

.img-modal i { position: absolute; left: 50%; -webkit-transform: scale(0) translateX(-50%); -ms-transform: scale(0) translateX(-50%); transform: scale(0) translateX(-50%); -webkit-transition: -webkit-transform .3s; transition: -webkit-transform .3s; -o-transition: transform .3s; transition: transform .3s; transition: transform .3s, -webkit-transform .3s; }

.img-modal:hover img { -webkit-transition: -webkit-filter .3s; transition: -webkit-filter .3s; -o-transition: filter .3s; transition: filter .3s; transition: filter .3s, -webkit-filter .3s; -webkit-filter: brightness(0.5); filter: brightness(0.5); }

.img-modal:hover i { font-size: 2em; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

.header { padding: 1em 0; }

@media (min-width: 1025px) { .header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; grid-column: 2 / 3; grid-row: 1 / 2; } }

.top-bar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; width: 80%; position: fixed; top: 0; z-index: 30; padding-left: 3em; height: 40px; }

.top-bar__icon { width: 40%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; cursor: pointer; }

.top-bar__welcome { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

@media (min-width: 1025px) { .top-bar__welcome { right: 0; margin-right: 1rem; width: 100%; height: 90px; } }

@media (min-width: 1025px) { .top-bar { right: 2.5rem; padding-left: 0; width: 20%; height: 90px; } }

@media (min-width: 1400px) { .top-bar { padding-left: 0; width: 15%; height: 90px; } }

.logo { position: fixed; top: .3em; left: .3em; z-index: 20; width: 10%; }

@media (min-width: 1025px) { .logo { position: relative; text-align: center; top: 1.5em; left: 0; width: 100%; } }

.logo__img { max-width: 100%; }

@media (min-width: 1025px) { .logo__img { max-width: 50%; } }

.title { padding: 0 0 .5em; border-bottom: 1px solid #fff; text-align: left; }

@media (min-width: 1025px) { .title { padding: 0; padding-bottom: .5em; padding-top: .5em; border-top: 1px solid #fff; } }

.sidebar { position: fixed; background-color: var(--background-color); width: 100%; height: 95vh; top: -100%; -webkit-transition: top .4s; -o-transition: top .4s; transition: top .4s; z-index: 2; }

@media (min-width: 1025px) { .sidebar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 15%; top: 0; height: 100vh; grid-column: 1 / 2; } }

.sidebar.show { top: 40px; }

.main-menu { list-style: none; padding-left: 0; margin-top: 0; margin-bottom: 0; margin-top: 1em; border-top: 1px solid var(--text-color); }

.main-menu__item { text-align: center; text-transform: uppercase; line-height: 2.5; border-bottom: 1px solid var(--text-color); }

.main-menu__item--active a { color: var(--primary-color); }

.main-menu__item--secondary a { color: var(--secondary-color); }

.main-menu__item--danger a { color: var(--danger-color); }

@media (min-width: 361px) { .main-menu__item { line-height: 1.5; border: none; } }

@media (min-width: 1025px) { .main-menu__item { line-height: 3; } }

@media (min-width: 1025px) { .main-menu { border: none; } }

.main-menu__link { color: var(--text-color); }

.toggle-menu { width: 100%; position: fixed; top: 0; height: 40px; background: var(--background-color); z-index: 10; }

.toggle-menu__icon { position: absolute; width: 40px; height: 40px; top: 0; right: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; padding: .2em 0; }

.toggle-menu__icon .first-bar, .toggle-menu__icon .second-bar, .toggle-menu__icon .third-bar { position: relative; width: 70%; height: 3px; background: var(--text-color); border-radius: 5px; -webkit-transform-origin: center; -ms-transform-origin: center; transform-origin: center; -webkit-transition: width 0.4s, top 0.4s, -webkit-transform 0.4s; transition: width 0.4s, top 0.4s, -webkit-transform 0.4s; -o-transition: transform 0.4s, width 0.4s, top 0.4s; transition: transform 0.4s, width 0.4s, top 0.4s; transition: transform 0.4s, width 0.4s, top 0.4s, -webkit-transform 0.4s; }

.toggle-menu__icon .first-bar, .toggle-menu__icon .third-bar { top: 0; }

.toggle-menu__icon.show .first-bar { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); top: 10px; }

.toggle-menu__icon.show .second-bar { width: 0; }

.toggle-menu__icon.show .third-bar { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); top: -8px; }

@media (min-width: 1025px) { .toggle-menu { display: none; } }

.social-links { position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: 50%; height: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (min-width: 361px) { .social-links { left: 75%; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); width: 20%; } }

@media (min-width: 1025px) { .social-links { width: 100%; left: 0; height: 50px; padding: 0 1em; } }

@media (min-width: 1400px) { .social-links { height: 80px; } }

.social-links i { color: var(--text-color); }

.main { padding: 0 2em; grid-column: 2 / 3; grid-row: 2 /3; padding-bottom: 2em; }

@media (min-width: 1025px) { .main { height: 93vh; overflow: auto; } }

@media (min-width: 1400px) { .main { height: 94vh; } }

.button { display: inline-block; padding: .5rem 1rem; color: var(--text-color); background: var(--primary-color); border: none; cursor: pointer; text-decoration: none; line-height: inherit; border-radius: .25rem; -webkit-transition: -webkit-transform .05s; transition: -webkit-transform .05s; -o-transition: transform .05s; transition: transform .05s; transition: transform .05s, -webkit-transform .05s; text-align: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.button:active { -webkit-transform: scale(0.99); -ms-transform: scale(0.99); transform: scale(0.99); }

.button--secondary { background: var(--secondary-color); color: var(--dark-text); }

.button--danger { background: var(--danger-color); }

.button--cta { background: var(--cta-color); color: var(--dark-text); }

.button--dark { background: var(--background-color); }

@media (min-width: 1025px) { .form { display: grid; grid-template-columns: 450px 300px 200px; } }

@media (min-width: 1025px) { .form--modal { display: block; }
  .form--modal .form__field { width: 100%; } }

.form__field { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (min-width: 1025px) { .form__field { width: 90%; } }

.form__field--text input, .form__field--text label, .form__field--number input, .form__field--number label, .form__field--date input, .form__field--date label { width: 100%; margin-bottom: .8em; }

.form__field--text input, .form__field--number input, .form__field--date input { background: none; border: none; color: var(--text-color); border-bottom: 1px solid var(--text-color); }

.form__field--textarea textarea, .form__field--textarea label { width: 100%; margin-bottom: 0.8rem; }

.form__field--textarea textarea { resize: none; min-height: 175px; background: none; color: var(--text-color); font-size: 1rem; }

.form__field--check, .form__field--radio { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; margin-bottom: 1em; width: 50%; }

@media (min-width: 1025px) { .form__field--check, .form__field--radio { width: 30%; } }

.form__field--file { background: #333; background-clip: content-box; width: 100%; height: 150px; border: 2px dashed #aaa; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; cursor: pointer; }

.form__field--file i { margin-bottom: .5em; }

.form__field--file:focus { border-bottom: 1px solid var(--primary-color); }

.form__field--file input { display: none; }

.form__buttons { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; }

.form__upload { grid-column: 2 / 3; }

.upload-buttons { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; margin-top: 1.5rem; width: 100%; }

.tabs-container { position: relative; width: 100%; margin: 0 auto; padding: 0; }

.tabs { list-style: none; padding-left: 0; margin-top: 0; margin-bottom: 0; margin: 0 0 1rem 0; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.tabs__item { line-height: 2; margin: 1em 0; border-radius: 10px; background: #bbb; cursor: pointer; color: var(--background-color); font-size: .9rem; padding: 0 .5em; }

@media (min-width: 1025px) { .tabs__item { font-size: 1rem; } }

.tabs__item--active { color: #fff; background: var(--primary-color); }

@media (min-width: 1025px) { .tabs { width: 30%; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-right: 2em; } }

.panels { padding: 1em 0; max-height: 90vh; }

.panels__item { display: none; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; opacity: 0; margin-bottom: 10vh; }

.panels__item--active { display: block; opacity: 1; }

.gallery { display: grid; --gap: 1rem; }

@media (min-width: 1025px) { .gallery { --columns: 5; grid-template-columns: repeat(var(--columns), 1fr); grid-gap: var(--gap); }
  .gallery.columns-1 { --columns: 1; }
  .gallery.columns-2 { --columns: 2; }
  .gallery.columns-3 { --columns: 3; }
  .gallery.columns-4 { --columns: 4; }
  .gallery.columns-5 { --columns: 5; } }

.gallery__img { max-width: 100%; display: block; }

.gallery__item { margin-bottom: var(--gap); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.chat { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border: 1px solid var(--primary-color); border-radius: 10px; max-height: 50vh; overflow: auto; }

@media (min-width: 1025px) { .chat { max-height: 65vh; height: 65vh; } }

@media (min-width: 1400px) { .chat { height: 75vh; } }

.chat-container { position: fixed; width: 100%; bottom: 0; right: -100%; max-height: 95vh; height: 95vh; background-color: var(--background-color); overflow: initial; -webkit-transition: right .3s; -o-transition: right .3s; transition: right .3s; padding-bottom: 5em; }

@media (min-width: 1025px) { .chat-container { right: -30%; max-height: 65vh; height: 65vh; width: 30%; bottom: .5rem; } }

.chat-container .chat-icon { position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; bottom: 2vh; left: -20vw; width: 55px; height: 55px; background: var(--primary-color); border-radius: 15px; cursor: pointer; z-index: -1; -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; }

@media (min-width: 1025px) { .chat-container .chat-icon { bottom: .5rem; left: -6vw; width: 55px; height: 55px; } }

@media (min-width: 1400px) { .chat-container .chat-icon { left: -5vw; width: 60px; height: 60px; } }

.chat-container .chat-icon i { font-size: 1.5em; }

.chat-container--show { right: 0; width: 100%; }

@media (min-width: 1025px) { .chat-container--show { right: 1.5rem; width: 30%; } }

.chat-container--show .chat-icon { bottom: 2vh; left: 2vw; z-index: -1; width: 45px; height: 45px; }

@media (min-width: 1025px) { .chat-container--show .chat-icon { bottom: 0; left: -4rem; width: 55px; height: 55px; } }

.chat-container--show .chat-icon i { font-size: 1em; }

.messages { margin: 0; padding: .5em; overflow: auto; }

.messages__item { border-radius: 20px; margin: 0; margin-bottom: 1em; padding: 1em; background: #666; position: relative; max-width: 75%; }

.messages__item--other { margin-right: auto; }

.messages__item--own { margin-left: auto; }

.messages__item--server { margin: 0 auto; background: transparent; text-transform: uppercase; font-style: italic; text-align: center; }

.messages__item--admin { margin-left: auto; background: var(--secondary-color); color: #333; }

@media (min-width: 1025px) { .messages__item { max-width: 60%; } }

.messages__info { padding-bottom: .3em; width: 75%; border-bottom: 1px solid var(--text-color); }

.messages__user { font-size: .9em; margin-right: 1em; }

.messages__date { font-size: .7em; }

.new-message { margin-top: auto; width: 85%; padding: .5em; border-radius: 10px; position: absolute; bottom: 0; left: 15vw; }

@media (min-width: 1025px) { .new-message { padding: 0; width: 100%; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); } }

.new-message__form { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.new-message input[type="text"] { width: 100%; border-radius: 10px; background: none; height: 55px; color: var(--text-color); padding-left: 1em; background: #333; border: 1px solid var(--primary-color); }

.new-message input[type="text"]:focus { border: 1px solid var(--secondary-color); }

.new-message input[type="submit"] { position: absolute; right: 1em; }

.register-form, .login-form { width: 100%; max-width: 400px; margin: 0 auto; background-color: #343434; padding: 1rem; z-index: 1000; border-radius: 15px; }

.login-form { margin-top: 4rem; }

.pop-up { position: fixed; top: -100%; left: 0; background: var(--primary-color); width: 100%; margin-top: 0; line-height: 2.5; text-transform: uppercase; text-align: center; z-index: 1000; }

@media (min-width: 1025px) { .pop-up { line-height: 4; } }

.pop-up--animate { -webkit-animation: pop 4s ease; animation: pop 4s ease; }

@-webkit-keyframes pop { 0%, 10% { top: -100%; }
  10%, 70% { top: 0; }
  100% { top: -100%; } }

@keyframes pop { 0%, 10% { top: -100%; }
  10%, 70% { top: 0; }
  100% { top: -100%; } }

@media (min-width: 1025px) { @-webkit-keyframes pop { 0%, 10% { top: -100%; }
    10%, 70% { top: 0; }
    100% { top: -100%; } } @keyframes pop { 0%, 10% { top: -100%; }
    10%, 70% { top: 0; }
    100% { top: -100%; } } }

@media (min-width: 1025px) { .profile { display: grid; grid-template-columns: 30% 1fr; grid-gap: 2rem; } }

.filter { line-height: 3; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; }

@media (min-width: 1025px) { .filter { margin-left: auto; width: 35%; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
  .filter--profile { margin-left: 0; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } }

.filter__item { cursor: pointer; text-transform: capitalize; margin-right: .5em; margin-bottom: .5em; }

.profile-gallery-container { overflow: auto; height: 55vh; }

.profile-gallery-tags { display: -webkit-box; display: -ms-flexbox; display: flex; }

.profile-gallery { margin-right: 1rem; border: 1px solid; margin-bottom: 1em; }

.profile-gallery:last-child { margin-right: 0; }

.profile-gallery__title { margin: 0; padding: 0.5rem 1rem; cursor: pointer; -webkit-transition: background-color .2s; -o-transition: background-color .2s; transition: background-color .2s; }

.profile-gallery__title:hover:not(.profile-gallery__title--active) { background-color: rgba(255, 255, 255, 0.2); }

.profile-gallery__title--active { background: var(--primary-color); }

.lightbox { position: fixed; top: 50%; left: 50%; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); border-radius: 15px; -webkit-transform: scale(0) translate(-50%, -50%); -ms-transform: scale(0) translate(-50%, -50%); transform: scale(0) translate(-50%, -50%); -webkit-transform-origin: top left; -ms-transform-origin: top left; transform-origin: top left; -webkit-transition: -webkit-transform .2s; transition: -webkit-transform .2s; -o-transition: transform .2s; transition: transform .2s; transition: transform .2s, -webkit-transform .2s; z-index: 1000; }

.lightbox--show { -webkit-transform: scale(1) translate(-50%, -50%); -ms-transform: scale(1) translate(-50%, -50%); transform: scale(1) translate(-50%, -50%); }

.modal { position: fixed; top: 20%; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: 95%; max-width: 400px; padding: 1rem; z-index: 1001; }

.modal--img { max-width: 100%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

@media (min-width: 1025px) { .modal--img { max-width: 50%; } }

.img-info { width: 100%; max-width: 100%; background-color: #343434; padding: 1rem; z-index: 1000; border-radius: 15px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.img-info__title { text-align: center; }

.img-info__img { display: block; margin-bottom: .5rem; max-height: 55vmin; }

.img-info__user-data { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-item-align: end; align-self: flex-end; padding: .5rem 0; font-size: .8rem; }

.img-info__user { margin-right: 1em; color: var(--text-color); }

.img-info__description { -ms-flex-item-align: start; align-self: flex-start; }

.img-info__tags { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-item-align: end; align-self: flex-end; padding: .5rem 0; font-size: .8rem; }

.img-info__tag { background-color: #888; padding: .5rem; border-radius: 10px; }

.colors { display: grid; grid-template-columns: 1fr; grid-gap: 1em; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media (min-width: 1025px) { .colors { grid-template-columns: repeat(3, 1fr); } }

.colors__item { padding: .5em; background: #555; }

.colors__title { text-align: center; }

.colors__card { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (min-width: 1025px) { .colors__card { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; } }

.colors__info { text-align: center; }

@media (min-width: 1025px) { .colors__info { text-align: left; } }

.colors__color { width: 100px; height: 100px; }

@media (min-width: 1025px) { .colors__color { width: 150px; height: 150px; } }

@media (min-width: 1025px) { .tipography { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .tipography__content { padding-right: 4em; }
  .tipography__img { width: 100%; } }

.buttons { display: grid; grid-template-columns: 1fr; grid-gap: 1em; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.buttons__content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

@media (min-width: 1025px) { .buttons__content { width: 50%; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; } }

@media (min-width: 1025px) { .buttons__img { margin-right: auto; } }

.buttons__button { margin-bottom: 1em; }

.cards { display: grid; grid-template-columns: 1fr; grid-gap: 30px; }

@media (min-width: 1025px) { .cards { grid-template-columns: repeat(3, 1fr); }
  .cards__images { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding-bottom: 2em; } }

@media (min-width: 1025px) and (min-width: 1400px) { .cards { padding-bottom: 3em; } }

.cards__img { margin-bottom: 1em; }

@media (min-width: 1025px) { .cards__img { margin: 0; } }

.user-card { background: -o-linear-gradient(top, var(--primary-color) 40px, #333 40px); background: linear-gradient(to bottom, var(--primary-color) 40px, #333 40px); border-radius: 10px; text-align: center; }

@media (min-width: 1025px) { .user-card { background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, var(--primary-color)), color-stop(12%, #333)); background: -o-linear-gradient(top, var(--primary-color) 12%, #333 12%); background: linear-gradient(to bottom, var(--primary-color) 12%, #333 12%); } }

.user-card__img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; }

.user-card__img img { max-width: 25%; border-radius: 50%; }

.user-card__status { position: absolute; bottom: -.5em; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: 15px; height: 15px; border-radius: 50%; }

.user-card__status--online { background: var(--secondary-color); }

.user-card__status--bussy { background: var(--cta-color); }

.user-card__status--offline { background: var(--danger-color); }

.user-card__name { font-size: 1em; }

.user-card__subtitle { font-size: .9em; }

.user-card__statistics { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.user-card__statistic { width: 50%; margin: .5em; text-align: center; border: 1px solid var(--text-color); }

.user-card__number { font-size: 1.2em; }

.user-card__description { font-size: .9em; padding: .5em; }

.user-card__social { width: 30%; margin-left: auto; margin-right: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; padding-bottom: 1em; }

.icon-list { list-style: none; padding-left: 0; margin-top: 0; margin-bottom: 0; }

.icon-list__item { line-height: 2; }

.icon-list__item i { margin-right: 1em; }

.users { display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 10px; width: 40vw; }

.users__empty { grid-column: 1 / -1; }

.user { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; border: 1px solid var(--text-color); padding: 1rem; }

.user span { padding-right: 1em; }

.user i:hover { cursor: pointer; color: var(--danger-color); }

.blogs { display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 15px; }

.blogs--open { grid-template-columns: 1; }

.blog { padding: 1.5rem; border-radius: 15px; background: #444; cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; }

.blog__title { margin-top: 0; text-align: center; width: 100%; }

.blog__img { display: block; height: auto; max-height: 220px; margin: 0 auto; overflow: hidden; }

.blog__description { font-size: .9rem; height: 50px; width: 100%; overflow: hidden; }

.blog__date { font-size: .7rem; -ms-flex-item-align: end; align-self: flex-end; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; width: 100%; }

.blog__options { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 50%; padding: 1rem; margin-left: auto; margin-right: auto; }

.blog-open { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.blog-open h2 { width: 100%; }

.blog-open img { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; max-width: 40%; margin-bottom: 1rem; }

.blog-open p { width: 60%; margin: 0; padding: 0 1rem; }

.blog-open time { width: 100%; margin-bottom: 1rem; }

.new-blog { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.new-blog__item { display: none; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.4rem; }

.new-blog__item--show { display: -webkit-box; display: -ms-flexbox; display: flex; }

.new-blog__textarea { margin: 1rem 0; height: 100px; }

.upload-form { display: grid; grid-template-columns: 200px .5fr; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; grid-gap: 2rem; }

.forum { margin: 3rem 0; width: 90%; }

.post { font-size: .9rem; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; border: 1px solid var(--text-color); border-radius: 15px; padding: .8rem; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.post__title { margin: 0; }

.post__img { max-width: 100%; }

.post__footer { font-size: .8rem; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.post__footer p { margin: 0; }

.contest { font-size: .9rem; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; border: 1px solid var(--text-color); border-radius: 15px; padding: .8rem; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; height: 40vh; }

.contest__title { width: 100%; }

.contest__img { max-width: 30%; }

.contest__right { padding: 0 2rem; width: 60%; height: 80%; position: relative; }

.contest__description { font-size: 1.2rem; margin: 0; width: 100%; }

.contest__time { position: absolute; bottom: 0; font-size: 1.5rem; margin: 1rem 0; width: 100%; margin-top: auto; }

.about { margin-top: 3rem; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.about__img { max-width: 40%; }

.about__text { width: 50%; padding: 1rem; text-align: left; }
