//Incluimos el archivo de configuración para que esté disponible en todas las páginas
include ../config/config
//Asignamos el usuario a username, si no hubiera sería null
-username = user
//Iniciamos el documento HTML
doctype html
//Asignamos el lenguaje de la página
html(lang="en")
    head
        title Sheila's Project
        //Asignamos la codificación de la web
        meta(charset="utf-8")
        //Añadimos la descripción
        meta(name='description' content='Project')
        //Con la etiqueta viewport hacemos que el diseño sea adaptable
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        //Añadimos compatibilidad para internet explorer
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        //Importamos el CSS de los iconos de Font Awesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous")
        //Importamos nuestro CSS
        link(href='/web/css/styles.css' rel='stylesheet')
        
    body
        //Contenedor de la barra superior
        header#header.header
            //Contenedor de la sección de login/register
            .top-bar
                //Si no hay usuario
                if username == null
                    //Añadimos el icono de Log in
                    .top-bar__icon
                        i.fa.fa-user
                        span#open-login-modal Log in
                    //Añadimos el icono de Register
                    .top-bar__icon
                        i.fas.fa-sign-in-alt
                        span#open-register-modal Register
                else
                    //Le damos la bienvenida
                    p.top-bar__welcome= `Welcome ${username}`
        //Contenedor del menú movil
        .toggle-menu
            //Contenedor del icono de hamburguesa
            #toggle-menu.toggle-menu__icon
                .first-bar
                .second-bar
                .third-bar
        //Enlace de navegación a la raiz
        a(href="/").logo
            //Logo de la página
            img(src="/web/img/logo.png", alt="").logo__img
        //Barra lateral
        #sidebar.sidebar
            //Bloque de menú para poder modificarlo en las páginas independientemente
            block menu
            //Incluimos el archivo de enlaces sociales
            include ../includes/social
        //Ventana modal del formulario de registro
        include ../includes/modal-register-form
        //Ventana modal del formulario de login
        include ../includes/modal-login-form
        //Ventana modal de la información de la imagen
        include ../includes/modal-img-info
        //Si tenemos un usuario registrado
        if username != null
            //Incluimos el chat
            include ../includes/chat
        
        //Contenedor principal
        .main
            //Bloque de título
            block title
            //Bloque principal
            block main
        //Párrafo de los popups informativos
        p#pop-up.pop-up
        //Polyfill para asegurar la compatibilidad de nuestro js con todos los navegadores
        script(src="https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.42/polyfill.js")
        //Si tenemos usuario
        if username != null
            //Incluimos la libreria de socket.io
            script(src="/socket.io/socket.io.js")
        //Cargamos nuestros scripts
        script(src="/web/js/scripts-min.js")