body {
    font-family: $main-font, sans-serif;
    background-color: #222;
    color: $text-color;
    min-height: 90vh;
    font-size: 1.1em;
    user-select: none;

    @include laptop {
        overflow: hidden;
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 60px 1fr;
    }
}

h1,
h2,
h3 {
    font-family: $main-title, sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}