include ../config/config
doctype html
html(lang="es")
    head
        title Index | guide styles
        meta(charset="utf-8")
        meta(name='description' content='Horarios')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(href='/admin/css/styles.css' rel='stylesheet')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous")
        
    body
        header#header.header
            .top-bar
               p Welcome Sheila
        .toggle-menu
            #toggle-menu.toggle-menu__icon
                .first-bar
                .second-bar
                .third-bar
        a(href="/").logo
                img(src="./img/logo.png", alt="").logo__img
        #sidebar.sidebar
            block menu
            include ../includes/social
        .main
            block title
            block main
        script(src="js/scripts-min.js")