.buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    justify-content: center;

    &__content {
        display: flex;
        flex-direction: column;

        @include laptop {
            width: 50%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    @include laptop {
        &__img {
            margin-right: auto;
        }
    }

    &__button {
        margin-bottom: 1em;
    }
}