.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;

    @include laptop {
        grid-template-columns: repeat(3, 1fr);

        &__images {
            display: flex;
            align-items: flex-start;
            padding-bottom: 2em;
        }

        @include desktop {
            padding-bottom: 3em;
        }
    }

    &__img {
        margin-bottom: 1em;

        @include laptop {
            margin: 0;
        }
    }
}

.user-card {
    background: linear-gradient(to bottom, $primary-color 40px, #333 40px);
    border-radius: 10px;
    text-align: center;

    @include laptop {
        background: linear-gradient(to bottom, $primary-color 12%, #333 12%);
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & img {
            max-width: 25%;
            border-radius: 50%;
        }
    }

    &__status {
        position: absolute;
        bottom: -.5em;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;

        &--online {
            background: $secondary-color;
        }

        &--bussy {
            background: $cta-color;
        }

        &--offline {
            background: $danger-color;
        }
    }

    &__name {
        font-size: 1em;
    }

    &__subtitle {
        font-size: .9em;
    }

    &__statistics {
        display: flex;
        justify-content: space-between;
    }

    &__statistic {
        width: 50%;
        margin: .5em;
        text-align: center;
        border: 1px solid $text-color;
    }

    &__number {
        font-size: 1.2em;
    }

    &__description {
        font-size: .9em;
        padding: .5em;
    }

    &__social {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        padding-bottom: 1em;
    }
}