.colors {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    justify-content: center;

    @include laptop {
        grid-template-columns: repeat(3, 1fr);
    }


    &__item {
        padding: .5em;
        background: #555;
    }

    &__title {
        text-align: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include laptop {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__info {
        text-align: center;
        @include laptop {
            text-align: left;
        }
    }

    &__color {
        width: 100px;
        height: 100px;

        @include laptop {
            width: 150px;
            height: 150px;
        }
    }
}