.filter {
    @include reset-list;
    display: flex;
    justify-content: space-between;

    @include laptop {
        justify-content: flex-end;
    }
    
    &__item {
        border-radius: 15px;
        padding: 0.25rem 0.75rem;
        cursor: pointer;
        color: #CCC;
        transition: color .2s, background-color .2s;
        text-transform: capitalize;

        &:hover {
            color: #FFF;
        }

        &--active {
            background-color: var(--primary-color);
            color: #FFF;
        }
    }
}