body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #333;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.title {
    text-align: center;
}

.select {
    display: grid;
    grid-gap: 1em;
    justify-items: center;
}

.select-item {
    text-align: center;
    background: #666;
    padding: 1em;
    margin-bottom: 1em;
    min-width: 300px;
    border-radius: 15px;
    cursor: pointer;
}

@media screen and (min-width:1024px) {
    .select {
        grid-template-columns: repeat(3, 1fr)
    }

    .select-item:hover{
        background-color:#3f95ea;
    }
}