extends ../templates/template
block menu
    -pageActive = 'buttons'
    include ../includes/main-menu
block title
    h1.title Buttons
block main
    p.description Aquí se muestran todos los botones de la web y los estilos que hay que dar para los diferentes estilos de botones. Los botones se obtienen con la clase button.
    .buttons
        .buttons__content
            button.buttons__button.button .button
            button.buttons__button.button.button--secondary .button--secondary
            button.buttons__button.button.button--danger .button--danger
            button.buttons__button.button.button--cta .button--cta
            button.buttons__button.button.button--dark .button--dark
        .buttons__img.img-modal
            img(src="/ux/img/buttons.png", alt="")
            i.fas.fa-search-plus
