extends ../templates/template
include ../mixins/user-card
block menu
    -pageActive = 'cards'
    include ../includes/main-menu
block title
    h1.title Cards
block main
    h2.subtitle User card
    p.description Esta la tarjeta de miniatura de usuario
    .cards
        +user-card(
            "/ux/img/user-profile.jpg",
            "online",
            "Jane Doe",
            "UX/UI Designer",
            "jane-doe@janedoe.com",
            [
                {number:152, text:"text"},
                {number:152, text:"text"},
                {number:152, text:"text"}
            ],
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque, quibusdam, recusandae perferendis facere aut molestias maxime sed eaque beatae dolor! Nobis minus architecto impedit cumque sed cupiditate amet praesentium.",

            ["facebook","instagram","pinterest","tumblr"]
        )
        +user-card(
            "/ux/img/user-profile.jpg",
            "bussy",
            "Jane Doe",
            "UX/UI Designer",
            "jane-doe@janedoe.com",
            [
                {number:10, text:"text"},
                {number:1852, text:"text"},
                {number:15052, text:"text"}
            ],
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque, quibusdam, recusandae perferendis facere aut molestias maxime sed eaque beatae dolor! Nobis minus architecto impedit cumque sed cupiditate amet praesentium.",

            ["facebook","instagram","pinterest","tumblr"]
        )
        +user-card(
            "/ux/img/user-profile.jpg",
            "offline",
            "Jane Doe",
            "UX/UI Designer",
            "jane-doe@janedoe.com",
            [
                {number:152, text:"text"},
                {number:152, text:"text"},
                {number:152, text:"text"}
            ],
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque, quibusdam, recusandae perferendis facere aut molestias maxime sed eaque beatae dolor! Nobis minus architecto impedit cumque sed cupiditate amet praesentium.",

            ["facebook","instagram","pinterest","tumblr"]
        )

    p.description Esta es la esctructura de una tarjeta
    .cards__images
        .cards__img.img-modal
            img(src="/ux/img/cards.png")
            i.fas.fa-search-plus
        .cards__img.img-modal
            img(src="/ux/img/user-card.png")
            i.fas.fa-search-plus
