extends ../templates/template
block menu
    -pageActive = 'chat'
    include ../includes/main-menu
block title
    h1.title Chat
block main
    p.description Esta es la interfaz de la ventana de chat
    .chat
        .messages
            p.messages__item.messages__item--other Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iste corrupti praesentium.
            p.messages__item.messages__item--own Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iste corrupti praesentium nostrum.
            p.messages__item.messages__item--other Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iste corrupti praesentium nostrum, voluptate consectetur aspernatur rerum sed ducimus non rem odit maxime dolorem tempora nobis adipisci tenetur amet reprehenderit.
            p.messages__item.messages__item--own Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iste corrupti praesentium nostrum, voluptate consectetur aspernatur rerum sed ducimus non rem odit maxime dolorem tempora nobis adipisci tenetur amet reprehenderit.
            p.messages__item.messages__item--important Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iste corrupti praesentium nostrum, voluptate consectetur aspernatur rerum sed ducimus non rem odit maxime dolorem tempora nobis adipisci tenetur amet reprehenderit.
            p.messages__item.messages__item--admin Pepe se ha conectado
            p.messages__item.messages__item--important Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iste corrupti praesentium nostrum, voluptate consectetur aspernatur rerum sed ducimus non rem odit maxime dolorem tempora nobis adipisci tenetur amet reprehenderit.
        .new-message
            form(action="#")#new-message-form.new-message__form
                input(type="text" name="new-message" placeholder="new message" autocomplete="off")
                input(type="submit" value="send").button
