extends ../templates/template
block menu
    -pageActive = 'colors'
    include ../includes/main-menu
block title
    h1.title Colors
block main
    p.description Aquí se muestra la plantilla de colores utilizada en la web. Están los colores en las diferentes versiones que se pueden necesitar Hexadecimal, RGB, variable CSS y variable SASS
    .colors
        .colors__item
            h2.colors__title Primary Color
            .colors__card
                .colors__color.primary
                .colors__info
                    p.colors__text #3f95ea
                    p.colors__text 63, 149, 234
                    p.colors__text --primary-color
                    p.colors__text $primary-color
        .colors__item
            h2.colors__title Secondary Color
            .colors__card
                .colors__color.secondary
                .colors__info
                    p.colors__text #52d3aa
                    p.colors__text 82, 211, 170
                    p.colors__text --secondary-color
                    p.colors__text $secondary-color
        .colors__item
            h2.colors__title danger Color
            .colors__card
                .colors__color.danger
                .colors__info
                    p.colors__text #3f95ea
                    p.colors__text 255, 60, 50
                    p.colors__text --danger-color
                    p.colors__text $danger-color
        .colors__item
            h2.colors__title CTA Color
            .colors__card
                .colors__color.cta
                .colors__info
                    p.colors__text #FBA905
                    p.colors__text 251, 169, 5
                    p.colors__text --cta-color
                    p.colors__text $cta-color
        .colors__item
            h2.colors__title Background Color
            .colors__card
                .colors__color.background
                .colors__info
                    p.colors__text #343434
                    p.colors__text 52, 52, 52
                    p.colors__text --background-color
                    p.colors__text $background-color
        .colors__item
            h2.colors__title Text Color
            .colors__card
                .colors__color.text
                .colors__info
                    p.colors__text #eee
                    p.colors__text 238, 238, 238
                    p.colors__text --text-color
                    p.colors__text $background-color