extends ../templates/template
block menu
    -pageActive = 'forms'
    include ../includes/main-menu
block title
    h1.title Forms
block main
    .forms
        p.description Para maquetar formularios requieren la clase form, y cada campo debe ir en un form__field y el modificador del tipo de campo, por ejemplo form__field--text
        h2.subtitle Form model
        form(action="#").form
            .form__type
                h3.subtitle Inputs
                .form__field.form__field--text
                    label(for="text") Text
                    input(type="text" name="text" id="text")
                .form__field.form__field--number
                    label(for="number") Number
                    input(type="number" name="number" id="number")
                .form__field.form__field--date
                    label(for="date") Date
                    input(type="date" name="date" id="date")
            .form__type
                h3.subtitle checkbox
                .form__field.form__field--check
                    label(for="check-1") Check option 1
                    input(type="checkbox" name="check" id="check-1")
                .form__field.form__field--check
                    label(for="check-2") Check option 2
                    input(type="checkbox" name="check" id="-check-2")
            .form__type
                h3.subtitle Radio
                .form__field.form__field--radio
                    label(for="check-1") Check option 1
                    input(type="radio" name="radio" id="radio-1")
                .form__field.form__field--radio
                    label(for="radio-2") Check option 2
                    input(type="radio" name="radio" id="-radio-2")
            .form__type
                h3.subtitle Select
                .form__field.form__field--select
                    select(name="select")
                        option(value="default") Select a option
                        option(value="1") Option 1
                        option(value="2") Option 2
                        option(value="3") Option 3
            .form__type
                h3.subtitle Text Area
                .form__field.form__field--text-area
                    textarea(name="message", cols="30", rows="3")
            .form__type
                h3.subtitle Send/Reset
                .form__field.form__buttons
                    input(type="submit", value="Send").button
                    input(type="reset", value="Reset").button.button--danger
            .form__type.form__upload
                h3.subtitle Upload
                .form__field.form__field--file
                    i.fas.fa-upload
                    span.upload-text Upload
                    input(type="file" name="file" id="file")
    