extends ../templates/template
block menu
    -pageActive = 'galleries'
    include ../includes/main-menu
block title
    h1.title Galleries
block main
    p.description La galería está hecha con un formato Masonry-layout, esto consiste en que, independiente del tamaño de las imágenes todas se colocan en función de su tamaño.

    #gallery.gallery
        .gallery__item
            img(src="/ux/img/gallerie/1.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/2.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/3.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/4.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/5.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/1.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/2.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/3.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/2.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/4.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/5.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/1.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/2.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/3.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/4.jpg", alt="").gallery__img
        .gallery__item
            img(src="/ux/img/gallerie/5.jpg", alt="").gallery__img