extends ../templates/template
block menu
    include ../includes/main-menu
block title
    h1.title Styleguides
block main
    p.description Una guía de estilo es un manual que define la identidad de tu marca, sus colores, tipografías o el tono en el que te vas a dirigir a tus clientes. En resumen, todos los elementos necesarios para construir una imagen sólida.