extends ../templates/template
block menu
    -pageActive = 'icons'
    include ../includes/main-menu
block title
    h1.title Icons
block main
    p.description Los iconos que se utilizan vienen de la librería FontAwesome. Se usan con etiquetas &#60;i&#62; y deben llevar las clases que se especifican a continuación
    .icons
        h2.subtitle User
        ul.icon-list
            li.icon-list__item
                i.fa.fa-user
                span fa fa-user
            li.icon-list__item
                i.fas.fa-sign-in-alt
                span fas fa-sign-in-alt
        h2.subtitle Social links
        ul.icon-list
            li.icon-list__item
                i.fab.fa-facebook-f
                span fab fa-facebook-f
            li.icon-list__item
                i.fab.fa-instagram
                span fab fa-instagram
            li.icon-list__item
                i.fab.fa-pinterest
                span fab fa-pinterest
            li.icon-list__item
                i.fab.fa-tumblr
                span fab fa-tumblr