extends ../templates/template
block menu
    -pageActive = 'lists'
    include ../includes/main-menu
block title
    h1.title Lists
block main
    .lists
        p.description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe deserunt ipsa fugiat mollitia quisquam maiores. Magni illum animi aperiam sunt ipsa magnam deserunt, ratione repellat vel. Aliquam saepe modi laboriosam!