extends ../templates/template
block menu
    -pageActive = 'tabs'
    include ../includes/main-menu
block title
    h1.title Tabs
block main
    .tabs-section
        p.description La navegación por tabs/pestañas se utiliza para meter varios contenidos relacionados con la página pero sin relación entre ellos. Así se consigue una navegación más fluida por el sitio web
        p.description Están formadas por elementos de lista (tabs) y paneles (contenido), cada tab se asocia con un panel, de esa forma solo mostramos un contenido al mismo tiempo.
        .tabs-container
            ul#tabs.tabs
                li.tabs__item.tabs__item--active.button.button--primary Tab 1
                li.tabs__item.button.button--primary Tab 2
                li#update-tournament-title.tabs__item.tabs__item--project.button.button--primary Tab 3
        .panels
            .panels__item.panels__item--active
               h1 PANEL 1
               p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eos quibusdam ipsam sunt, mollitia minima excepturi fuga ducimus sed ipsa qui maiores voluptate officia rem, maxime tempore vel, quaerat animi.
            .panels__item
                h1 PANEL 2
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias saepe vero tempora iusto impedit. Id laudantium eaque fugit enim omnis, animi laborum, qui ad iste maiores ea dignissimos nobis consectetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias saepe vero tempora iusto impedit. Id laudantium eaque fugit enim omnis, animi laborum, qui ad iste maiores ea dignissimos nobis consectetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias saepe vero tempora iusto impedit. Id laudantium eaque fugit enim omnis, animi laborum, qui ad iste maiores ea dignissimos nobis consectetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias saepe vero tempora iusto impedit. Id laudantium eaque fugit enim omnis, animi laborum, qui ad iste maiores ea dignissimos nobis consectetur.
            .panels__item
                h1 PANEL 3
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias saepe vero tempora iusto impedit. Id laudantium eaque fugit enim omnis, animi laborum, qui ad iste maiores ea dignissimos nobis consectetur.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias saepe vero tempora iusto impedit. Id laudantium eaque fugit enim omnis, animi laborum, qui ad iste maiores ea dignissimos nobis consectetur.