extends ../templates/template
block menu
    -pageActive = 'tipography'
    include ../includes/main-menu
block title
    h1.title Tipography
block main
    p.description Aquí se muestran todas las tipografias y sus respectivos tamaños utilizados en la web. También se encuentra la clase de cada tipo de texto y la variable que corresponde al archivo SASS para el tipo y tamaño de la fuente.
    .tipography
        .tipography__content
            h3.regular-title Título / Texto normal
            p.text-regular Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit beatae explicabo veritatis exercitationem at! Fugiat provident delectus eos iste! Iste nulla laboriosam quasi id itaque. Doloribus nesciunt quo cum. Earum?
            h3.big-title Título / Texto negrita
            p.text-bold Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quod atque nisi nemo officiis, recusandae quos minus rem incidunt, doloremque omnis iste quo repudiandae unde cumque. Ea omnis reiciendis eveniet.
        .tipography__img.img-modal
            img(src="/ux/img/fonts.png", alt="")
            i.fas.fa-search-plus