.button {
    display: inline-block;
    padding: .5rem 1rem;
    color: $text-color;
    background: $primary-color;
    border: none;
    cursor: pointer;
    text-decoration: none;
    line-height: inherit;
    border-radius: .25rem;
    transition: transform .05s;
    text-align: center;
    user-select: none;

    &:active {
        transform: scale(.99)
    }

    &--secondary {
        background: $secondary-color;
        color: $dark-text;
    }

    &--danger {
        background: $danger-color;
    }

    &--cta {
        background: $cta-color;
        color: $dark-text;
    }

    &--dark {
        background: $background-color;
    }
}