.chat {
    display: flex;
    flex-direction: column;
    border: 1px solid $primary-color;
    border-radius: 10px;
    max-height: 50vh;
    overflow: auto;

    @include laptop {
        max-height: 65vh;
        height: 65vh;
    }

    @include desktop {
        height: 75vh;
    }
}

.chat-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    right: -100%;
    max-height: 95vh;
    height: 95vh;
    background-color: $background-color;
    overflow: initial;
    transition: right .3s;
    padding-bottom: 5em;

    @include laptop {
        right: -30%;
        max-height: 65vh;
        height: 65vh;
        width: 30%;
        bottom: .5rem;
    }

    & .chat-icon {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 2vh;
        left: -20vw;
        width: 55px;
        height: 55px;
        background: $primary-color;
        border-radius: 15px;
        cursor: pointer;
        z-index: -1;
        transition: all .3s;

        @include laptop {
            bottom: .5rem;
            left: -6vw;
            width: 55px;
            height: 55px;
        }

        @include desktop {
            left: -5vw;
            width: 60px;
            height: 60px;
        }

        & i {
            font-size: 1.5em;
        }
    }


    &--show {
        right: 0;
        width: 100%;

        @include laptop {
            right: 1.5rem;
            width: 30%;
        }

        & .chat-icon {
            bottom: 2vh;
            left: 2vw;
            z-index: -1;
            width: 45px;
            height: 45px;

            @include laptop {
                bottom: 0;
                left: -4rem;
                width: 55px;
                height: 55px;
            }

            & i {
                font-size: 1em;
            }
        }
    }
}

.messages {
    margin: 0;
    padding: .5em;
    overflow: auto;

    &__item {
        border-radius: 20px;
        margin: 0;
        margin-bottom: 1em;
        padding: 1em;
        background: #666;
        position: relative;
        max-width: 75%;

        &--other {
            margin-right: auto;
        }

        &--own {
            margin-left: auto;
        }

        &--server {
            margin: 0 auto;
            background: transparent;
            text-transform: uppercase;
            font-style: italic;
            text-align: center;
        }

        &--admin {
            margin-left: auto;
            background: $secondary-color;
            color: #333;
        }

        @include laptop {
            max-width: 60%;
        }
    }

    &__info {
        padding-bottom: .3em;
        width: 75%;
        border-bottom: 1px solid $text-color;
    }

    &__user {
        font-size: .9em;
        margin-right: 1em;
    }

    &__date {
        font-size: .7em;
    }
}

.new-message {
    margin-top: auto;
    width: 85%;
    padding: .5em;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 15vw;


    @include laptop {
        padding: 0;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__form {
        position: relative;
        display: flex;
        align-items: center;
    }

    & input[type="text"] {
        width: 100%;
        border-radius: 10px;
        background: none;
        height: 55px;
        color: $text-color;
        padding-left: 1em;
        background: #333;
        border: 1px solid $primary-color;

        &:focus {
            border: 1px solid $secondary-color;
        }

    }

    & input[type="submit"] {
        position: absolute;
        right: 1em;
    }
}