.primary {
    background: $primary-color;
}

.secondary {
    background-color: $secondary-color;
}

.danger {
    background-color: $danger-color;
}

.cta {
    background-color: $cta-color;
}

.background {
    background-color: $background-color;
}

.text {
    background-color: $text-color;
}