.filter {
    line-height: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    @include laptop {
        margin-left: auto;
        width: 35%;
        justify-content: flex-end;

        &--profile {
            margin-left: 0;
            justify-content: flex-start;
        }
    }

    &__item {
        cursor: pointer;
        text-transform: capitalize;
        margin-right: .5em;
        margin-bottom: .5em;
    }


}