.form {
    @include laptop {
        display: grid;
        grid-template-columns: 450px 300px 200px;
    }

    &--modal {

        @include laptop {
            display: block;

            & .form__field {
                width: 100%;
            }
        }
    }

    &__field {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;

        @include laptop {
            width: 90%;
        }

        &--text,
        &--number,
        &--date {

            & input,
            & label {
                width: 100%;
                margin-bottom: .8em;
            }

            & input {
                background: none;
                border: none;
                color: $text-color;
                border-bottom: 1px solid $text-color;
            }
        }

        &--textarea {

            & textarea,
            & label {
                width: 100%;
                margin-bottom: 0.8rem;
            }

            & textarea {
                resize: none;
                min-height: 175px;
                background: none;
                color: $text-color;
                font-size: 1rem;
            }
        }

        &--check,
        &--radio {
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;
            margin-bottom: 1em;
            width: 50%;

            @include laptop {
                width: 30%;
            }
        }

        &--file {
            background: #333;
            background-clip: content-box;
            width: 100%;
            height: 150px;
            border: 2px dashed #aaa;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            & i {
                margin-bottom: .5em;
            }

            &:focus {
                border-bottom: 1px solid $primary-color;
            }

            & input {
                display: none;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__upload {
        grid-column: 2 / 3;
    }
}

.upload-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    width: 100%;
}