.gallery {
    display: grid;
    --gap: 1rem;

    @include laptop {
        --columns: 5;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-gap: var(--gap);

        $columns: 5;

        @for $i from 1 through $columns {
            &.columns-#{$i} {
                --columns: #{$i};
            }
        }
    }

    &__img {
        max-width: 100%;
        display: block;

    }

    &__item {
        margin-bottom: var(--gap);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}