.header {
    padding: 1em 0;

    @include laptop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}