.img-info {
    width: 100%;
    max-width: 100%;
    background-color: #343434;
    padding: 1rem;
    z-index: 1000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-align: center;
    }

    &__img {
        display: block;
        margin-bottom: .5rem;
        max-height: 55vmin;
    }

    &__user-data {
        display: flex;
        align-self: flex-end;
        padding: .5rem 0;
        font-size: .8rem;
    }

    &__user {
        margin-right: 1em;
        color: $text-color;
    }

    &__description {
        align-self: flex-start;
    }


    &__tags {
        display: flex;
        align-self: flex-end;
        padding: .5rem 0;
        font-size: .8rem;
    }

    &__tag {
        background-color: #888;
        padding: .5rem;
        border-radius: 10px;
    }

    //&__description {}
}