.lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: top left;
    transition: transform .2s;
    z-index: 1000;

    &--show {
        transform: scale(1) translate(-50%, -50%);
    }
}