.logo {
    position: fixed;
    top: .3em;
    left: .3em;
    z-index: 20;
    width: 10%;

    @include laptop {
        position: relative;
        text-align: center;
        top: 1.5em;
        left: 0;
        width: 100%;
    }

    &__img {
        max-width: 100%;

        @include laptop {
            max-width: 50%;
        }
    }
}