.main {
    padding: 0 2em;
    grid-column: 2 / 3;
    grid-row: 2 /3;
    padding-bottom: 2em;

    @include laptop {
        height: 93vh;
        overflow: auto;
    }

    @include desktop {
        height: 94vh;
    }
}