.main-menu {
    @include reset-list;
    margin-top: 1em;
    border-top: 1px solid $text-color;


    &__item {
        text-align: center;
        text-transform: uppercase;
        line-height: 2.5;
        border-bottom: 1px solid $text-color;


        &--active a {
            color: $primary-color;
        }

        &--secondary a {
            color: $secondary-color;
        }

        &--danger a {
            color: $danger-color;
        }

        @include tablet {
            line-height: 1.5;
            border: none;
        }

        @include laptop {
            line-height: 3;
        }
    }

    @include laptop {
        border: none;
    }

    &__link {
        color: $text-color;
    }
}

.toggle-menu {
    width: 100%;
    position: fixed;
    top: 0;
    height: 40px;
    background: $background-color;
    z-index: 10;

    &__icon {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: .2em 0;

        & .first-bar,
        & .second-bar,
        & .third-bar {
            $time: .4s;
            position: relative;
            width: 70%;
            height: 3px;
            background: $text-color;
            border-radius: 5px;
            transform-origin: center;
            transition: transform $time, width $time, top $time;
        }

        & .first-bar,
        & .third-bar {
            top: 0;
        }

        &.show .first-bar {
            transform: rotate(-45deg);
            top: 10px;
        }

        &.show .second-bar {
            width: 0;
        }

        &.show .third-bar {
            transform: rotate(45deg);
            top: -8px;
        }
    }

    @include laptop {
        display: none;
    }
}