.modal {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 400px;
    padding: 1rem;
    z-index: 1001;

    &--img {
        max-width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include laptop {
            max-width: 50%;
        }
    }
}