.profile-gallery-container {
   
    overflow: auto;
    height: 55vh;
}

.profile-gallery-tags{
    display: flex;
}

.profile-gallery {
    margin-right: 1rem;
    border: 1px solid;
    margin-bottom: 1em;

    &:last-child {
        margin-right: 0;
    }

    &__title {
        margin: 0;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color .2s;

        &:hover:not(&--active) {
            background-color: rgba(255, 255, 255, .2);
        }

        &--active{
            background: $primary-color;
        }
    }
}
