.sidebar {
    position: fixed;
    background-color: $background-color;
    width: 100%;
    height: 95vh;
    top: -100%;
    transition: top .4s;
    z-index: 2;

    @include laptop {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        top: 0;
        height: 100vh;
        grid-column: 1 / 2;
    }

    &.show {
        top: 40px;
    }
}