.social-links {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    @include tablet {
        left: 75%;
        transform: translateX(0);
        width: 20%;
    }

    @include laptop {
        width: 100%;
        left: 0;
        height: 50px;
        padding: 0 1em;
    }

    @include desktop {
        height: 80px;
    }

    & i {
        color: $text-color;
    }
}