.tabs-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.tabs {
    @include reset-list;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: space-around;
    
    &__item {
        line-height: 2;
        margin: 1em 0;
        border-radius: 10px;
        background: #bbb;
        cursor: pointer;
        color: $background-color;
        font-size: .9rem;
        padding: 0 .5em;

        @include laptop {
            font-size: 1rem;
            
        }
        
        &--active {
            color: #fff;
            background: $primary-color;
        }
    }
     
    @include laptop {
        width: 30%;
        justify-content: space-between;
        margin-right: 2em;

    }
}

.panels {
    padding: 1em 0;
    max-height: 90vh;

    &__item {
        display: none;
        transition: all 0.5s;
        opacity: 0;
        margin-bottom: 10vh;

        &--active {
            display: block;
            opacity: 1;
        }
    }
}