.title {
    padding: 0 0 .5em;
    border-bottom: 1px solid #fff;
    text-align: left;

    @include laptop {
        padding: 0;
        padding-bottom: .5em;
        padding-top: .5em;
        border-top: 1px solid #fff;
    }
}