.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    position: fixed;
    top: 0;
    z-index: 30;
    padding-left: 3em;
    height: 40px;

    &__icon {
        width: 40%;
        display: flex;
        justify-content: space-around;
        cursor: pointer;
    }

    &__welcome {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include laptop {
            right: 0;
            margin-right: 1rem;
            width: 100%;
            height: 90px;
        }
    }

    @include laptop {
        right: 2.5rem;
        padding-left: 0;
        width: 20%;
        height: 90px;
    }

    @include desktop {
        padding-left: 0;
        width: 15%;
        height: 90px;
    }
}