.pop-up {
    position: fixed;
    top: -100%;
    left: 0;
    background: $primary-color;
    width: 100%;
    margin-top: 0;
    line-height: 2.5;
    text-transform: uppercase;
    text-align: center;
    z-index: 1000;

    @include laptop {
        line-height: 4;
    }

    &--animate {
        animation: pop 4s ease;
    }

    @keyframes pop {

        0%,
        10% {
            top: -100%;
        }

        10%,
        70% {
            top: 0;
        }

        100% {
            top: -100%;
        }
    }

    @include laptop {
        @keyframes pop {

            0%,
            10% {
                top: -100%;
            }

            10%,
            70% {
                top: 0;
            }

            100% {
                top: -100%;
            }
        }

    }
}