mixin user-card(image,status,name,job,email,statistics,description,socials)
    .user-card
        .user-card__img
            img(src= image)
            if status== "online"
                span.user-card__status.user-card__status--online
            else if status == "bussy"
                span.user-card__status.user-card__status--bussy
            else if status == "offline"
                span.user-card__status.user-card__status--offline
        h3.user-card__name= name
        p.user-card__subtitle= job
        p.user-card__subtitle= email
        .user-card__statistics
            each statistic in statistics
                .user-card__statistic
                    p.user-card__number= statistic.number
                    p.user-card__text= statistic.text
        .user-card__description
            p= description
        .user-card__social
            each social in socials
                i(class=`fab fa-${social}`)


