<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles.css")
        link(rel="shortcut icon", href="web/img/favicon.ico", type="image/x-icon")
        title index
    body
        h1.title ¿Qué sección quiere ver?
        .select
            a(href="/ux/home")
                .select-item
                    h2.title UX
                    p.description Guía de estilos del sitio web
            a(href="/admin/home")
                .select-item
                    h2.title ADMIN
                    p.description Panel de administración
            a(href="/web/home")
                .select-item
                    h2.title WEB
                    p.description Sitio web
                