doctype html
html
    head
        title Slide
        meta(charset="utf-8")
        meta(name='description' content=description)
        meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        //- link(rel='stylesheet' href='/slide/styles.css' type='text/css')
        style(type="text/css").
            *,:after,:before{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box}.slide{width:100%;overflow:hidden}.slide__box{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;left:0;-webkit-transition:left 1s;-o-transition:left 1s;transition:left 1s}.slide__img{width:100vw;height:100vh;display:block}
    body
    main.main#main
        .slide
            .slide__box#slide-box
        script.
            const slideBox = document.getElementById('slide-box');

            let left = 0;

            const images = ['/slide/img/1.png', '/slide/img/2.png', '/slide/img/3.png', '/slide/img/4.png', '/slide/img/5.png', '/slide/img/6.png', '/slide/img/7.png', '/slide/img/8.png', '/slide/img/9.png', '/slide/img/10.png', '/slide/img/11.png', '/slide/img/12.png', '/slide/img/13.png', '/slide/img/14.png', '/slide/img/15.png', '/slide/img/16.png', '/slide/img/17.png', '/slide/img/18.png', '/slide/img/19.png', '/slide/img/20.png', '/slide/img/21.png', '/slide/img/22.png', '/slide/img/23.png', '/slide/img/24.png', '/slide/img/25.png', '/slide/img/26.png', '/slide/img/27.png', '/slide/img/28.png', '/slide/img/29.png'];


            let fragment = document.createDocumentFragment();

            for (let img of images) {
                let item = document.createElement('IMG');
                item.setAttribute('src', img)
                item.classList.add('slide__img');
                fragment.appendChild(item);
            }

            slideBox.appendChild(fragment);

            slideBox.style.width = `${images.length * 100}vw`

            const slideLeft = () => {
                if (left != 0) {
                    left += 100;
                    slideBox.style.left = `${left}vw`;
                }
            }
            const slideRigth = () => {
                if (left != (images.length - 1) * -100) {
                    left -= 100;
                    slideBox.style.left = `${left}vw`;
                }
            }

            addEventListener('keyup', (e) => {
                if (e.key == 'ArrowLeft') slideLeft();
                else if (e.key == 'ArrowRight') slideRigth();
            })
