extends ../templates/template
block menu
    - pageActive = 'about'
    include ../includes/main-menu
block title
    h1.title About
block main
    .about
        if username != undefined
            img(src="../img/about.jpg", alt="").about__img
        else
            img(src="./img/about.jpg", alt="").contest__img
        .about__text
            p.description This is a website dedicated to photography lovers. Here you can find photography tips, objectives, composition and many more themes related to your passion
            p.description Every week you will have new contests to challenge and climb positions to appear in the top positions of the web.
            p.description If you like photography and try to get the best pictures every day, you are in the right place. I hope you like it a lot and that you find here everything you are looking for.
        .about__text
            p.description Photography is another way of loving life, capturing time and feelings forever. "Homero Lujan"
            p.description When I'm taking pictures what I'm doing is actually looking for answers to things. "Winn Bullock"
            p.description If the photographs are not good enough it's because you're not close enough. "Robert Capa"
            p.description The character, as the picture unfolds in the dark. "Yousuf Karsh"
        if username != undefined
            img(src="../img/about2.jpg", alt="").about__img
        else
            img(src="./img/about2.jpg", alt="").contest__img
