extends ../templates/template
block menu
    - pageActive = 'blog'
    include ../includes/main-menu
block title
    h1.title Blog
block main
   -const blogs = data
    #blogs.blogs
        each blog in blogs
            .blog(data-id= blog.id)
                h3.blog__title= blog.title
                img(src= blog.image, alt="").blog__img
                p.blog__description= blog.description
                time.blog__date= `${blog.date.toLocaleDateString().split("-").reverse().join("-")}`
                