extends ../templates/template
block menu
    - pageActive = 'contact'
    include ../includes/main-menu
block title
    h1.title Contact
block main
    
    form#form.form(action="#" method="POST")
        .form__type
            .form__field.form__field--text
                label(for="name") Nombre
                input#name(type="text" name="name")
            .form__field.form__field--text
                label(for="email") Email
                input#email(type="text" name="email")
            .form__field.form__field--text
                label(for="subject") Asunto
                input#subject(type="text" name="subject")
            .form__field.form__field--textarea
                label(for="message") Mensaje
                textarea#message(name="message")