extends ../templates/template
block menu
    - pageActive = 'contest'
    include ../includes/main-menu
block title
    h1.title Contests
block main
    .constests
        .contest
            h2.contest__title Landscape Contest
            if username != undefined
                img(src="../img/landscape.jpg", alt="").contest__img
            else
                img(src="./img/landscape.jpg", alt="").contest__img
            .contest__right
                p.contest__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti a veritatis, blanditiis dolorum fugit consequatur sint eligendi maxime reprehenderit eaque nisi placeat perferendis, quae sed officia ab. Molestiae, exercitationem fuga? Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi vero dignissimos, rerum expedita officia eum deleniti saepe accusantium voluptatem nobis assumenda eligendi? Sed molestiae quam tempora tempore, aliquam optio ex! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                time#contest-remaining.contest__time 24:00:01