extends ../templates/template
block menu
    - pageActive = 'home'
    //Incluimos el menú
    include ../includes/main-menu
    //En el bloque de título añadimos el título de nuestra página
block title
    h1.title Home
    //En el bloque principal añadimos el filtro de imágenes y el contenedor de la galería principal
block main
    include ../includes/filter
    #gallery
