extends ../templates/template
block menu
    - pageActive = 'profile'
    include ../includes/main-menu
block title
    h1.title Perfil
block main
    //Contenedor de todo el perfil
    #profile.profile
        //Contenedor del usuario
        .profile__user
            //Guardamos todos los datos que vienen de la consulta
            - const data = userData[0]
            //Incluimos el mixin(función) para la creación de la tarjeta de usuario y le pasamos todos los datos que necesita
            include ../mixins/user-card
            +user-card(
                data.image,
                data.state,
                data.username,
                data.job,
                data.email,
                data.description,
                ["facebook","instagram","pinterest","tumblr"]
            )
            
        //Tabs del usuario
        .profile__admin
            #tabs.tabs
                .tabs__item.tabs__item--active Galleries
                if user == userProfile
                    .tabs__item Edit Profile
                    .tabs__item Upload image
            //Paneles que muestran la información del tab seleccionado
            .panels
                //Panel activo
                #filter-profile.panels__item.panels__item--active
                    //Guardamos las galerias del usuario
                    - const userGalleries = galleries
                    include ../includes/profile-gallery
                if user == userProfile
                    .panels__item
                        include ../includes/edit-profile
                    .panels__item
                        include ../includes/upload-image
