#social-links.social-links
    a(href="#").social-links__item
        i.fab.fa-facebook-f
    a(href="").social-links__item
        i.fab.fa-instagram
    a(href="").social-links__item
        i.fab.fa-pinterest  
    a(href="").social-links__item
        i.fab.fa-tumblr