:root {
    --primary-color: #3f95ea;
    --secondary-color: #52d3aa;
    --danger-color: #FF3C32;
    --cta-color: #fba905;
    --background-color: #343434;
    --text-color: #eee;
    --dark-text: #555;
}

$primary-color:var(--primary-color);
$secondary-color:var(--secondary-color);
$danger-color:var(--danger-color);
$cta-color:var(--cta-color);
$background-color:var(--background-color);
$text-color:var(--text-color);
$dark-text:var(--dark-text);


.primary {
    background: $primary-color;
}

.secondary {
    background-color: $secondary-color;
}

.danger {
    background-color: $danger-color;
}

.cta {
    background-color: $cta-color;
}

.background {
    background-color: $background-color;
}

.text {
    background-color: $text-color;
}