@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
$main-title: 'Montserrat';
$big-title: 600;
$regular-title: 400;

@import url('https://fonts.googleapis.com/css?family=Cabin:400,600');
$main-font: 'Cabin';
$font-regular: 400;
$font-bold:600;


h1,
h2,
h3 {
    font-family: $main-title, sans-serif;
    font-weight: $big-title;

    &.regular-title {
        font-weight: $regular-title;
    }
}

.text-regular {
    font-weight: $font-regular;
}

.text-bold {
    font-weight: $font-bold;
}