.blogs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;

    &--open{
     grid-template-columns: 1;
    }
}

.blog{
    padding: 1.5rem;
    border-radius: 15px;
    background: #444;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    &__title{
        margin-top: 0;
        text-align: center;
        width: 100%;
    }

    &__img{
        display: block;
        height: auto;
        max-height: 220px;
        margin: 0 auto;
        overflow: hidden;
    }

    &__description{
        font-size: .9rem;
        height: 50px;
        width: 100%;
        overflow: hidden;
    }

    &__date{
        font-size: .7rem;
        align-self: flex-end;
        justify-content: flex-start;
        width: 100%;
    }

    &__options{
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    &-open{
       display: flex;
       flex-wrap: wrap;
       align-items: flex-start;

       & h2{
           width: 100%;
       }

       & img{
           align-items: flex-start;
           max-width: 40%;
           margin-bottom: 1rem;
       }

       & p{
           width: 60%;
           margin: 0;
           padding: 0 1rem;
       }

       & time{
           width: 100%;
           margin-bottom: 1rem;
       }
    }
}

.new-blog{
    display: flex;
    align-items: center;
    justify-content: center;

    &__item{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;

       

        &--show{
            display: flex;

        }
    }

    &__textarea {
        margin: 1rem 0;
        height: 100px;
    }
}