.users{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    width: 40vw;

    &__empty{
        grid-column: 1 / -1;
    }
}
.user {
    display: flex;
    justify-content: space-around;
    border: 1px solid $text-color;
    padding: 1rem;

    & span {
        padding-right: 1em;
    }

    & i:hover {
        cursor: pointer;
        color: $danger-color;
    }

   
}