extends ../templates/template
block menu
    -pageActive = 'blog'
    include ../includes/main-menu
block title
    h1.title Blog
block main
    h2.description En este panel se pueden administrar los blogs
    -const blogs = data
    #blogs.blogs
        each blog in blogs
            .blog(data-id= blog.id)
                h3.blog__title= blog.title
                img(src= blog.image, alt="").blog__img
                p.blog__description= blog.description
                time.blog__date= `${blog.date.toLocaleDateString().split("/").reverse().join("-")}`
                .blog__options
                    i.fas.fa-pen
                    i.fas.fa-trash
        #new-blog.blog.new-blog
            .new-blog__item
                i.fa.fa-plus
            .new-blog__item.new-blog__item--show
                form(action="/admin/insertBlog" method="POST" enctype="multipart/form-data")#blog-form.new-blog__form
                    .form__field--text
                        input(type="text" placeholder="Title" name="title")#title
                    .upload-box#upload-file-form
                        #file-box.form__field.form__field--file
                            label(for="file")#file-label upload
                            img(src="", alt="")#file-img
                            input(type="file" name="blog-input" id="file-input")
                    .form__field--textarea
                        textarea(name="content").new-blog__textarea
                    #upload-buttons.upload-buttons
                            button#save-upload.button.button--primary Create
                            button#cancel-upload.button.button--danger Cancel  