extends ../templates/template
block menu
    -pageActive = 'contests'
    include ../includes/main-menu
block title
    h1.title Contests
block main
    p.description En este panel se pueden administrar los concursos