extends ../templates/template
block menu
    -pageActive = 'home'
    include ../includes/main-menu
block title
    h1.title Panel de control
block main
    p.description En este panel se pueden administrar los usuarios, los concursos y los blogs