extends ../templates/template
block menu
    -pageActive = 'users'
    include ../includes/main-menu
block title
    h1.title Users
block main
    -const allData = data
    #users.users
        each data in allData
            .user(data-id= data.id)
                span.user__username= data.username
                i.fas.fa-trash
        else
            h2.users__empty There isn't anybody here
            